In [1]:
import tensorflow as tf
import keras

In [63]:
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense, Activation

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("E:/database/heart.csv")

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
target1=df["target"].values

In [8]:
df.shape

(303, 14)

In [12]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [14]:
df1=df.drop(['sex','cp','fbs','restecg','exang','slope','ca', 'thal'],axis=1)

In [22]:
features=df1.drop(['age','trestbps','chol','thalach','oldpeak'],axis=1)

In [30]:
features.shape

(303, 9)

In [31]:
df1.head()

   age  trestbps  chol  thalach  oldpeak  target
0   63       145   233      150      2.3       1
1   37       130   250      187      3.5       1
2   41       130   204      172      1.4       1
3   56       120   236      178      0.8       1
4   57       120   354      163      0.6       1

In [47]:
target1.shape

(303,)

In [48]:
target=to_categorical(target1)

In [49]:
target.shape

(303, 2)

In [66]:
model=Sequential()
model.add(Dense(32,activation="relu",input_shape=(9,)))
model.add(Dense(2,activation="softmax"))
model.compile(optimizer = "adam", loss = "categorical_crossentropy", metrics = ["accuracy"])
model.fit(features,target,epochs=10)

Epoch 1/10
10/10 [==============================] - 3s 10ms/step - loss: 0.7282 - accuracy: 0.5437
Epoch 2/10
10/10 [==============================] - 0s 1ms/step - loss: 0.6631 - accuracy: 0.6120
Epoch 3/10
10/10 [==============================] - 0s 2ms/step - loss: 0.6015 - accuracy: 0.7393
Epoch 4/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5606 - accuracy: 0.7672
Epoch 5/10
10/10 [==============================] - 0s 2ms/step - loss: 0.5169 - accuracy: 0.8006
Epoch 6/10
10/10 [==============================] - 0s 3ms/step - loss: 0.4812 - accuracy: 0.8138
Epoch 7/10
10/10 [==============================] - 0s 3ms/step - loss: 0.4370 - accuracy: 0.8461
Epoch 8/10
10/10 [==============================] - 0s 2ms/step - loss: 0.3955 - accuracy: 0.8781
Epoch 9/10
10/10 [==============================] - 0s 3ms/step - loss: 0.3866 - accuracy: 0.8797
Epoch 10/10
10/10 [==============================] - 0s 3ms/step - loss: 0.3464 - accuracy: 0.8909